.example-card{
  width: 300px;
  height: 300px;
  cursor: pointer;
}

.img-card{
  height: 160px;
}


.my-card {

  display: flex;
  cursor: pointer;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 220px;
  height: 20rem;
  padding: 2rem;
  box-shadow: 0 8px 22px 2px rgb(19 41 80 / 20%);
  border: none;
}

.my-image {
  width: 40%;
  align-self: center;
  padding: 20px;
}

.card-title {
  font-weight: 900;
  display: block;
  font-size: 28px;
  line-height: 36px;
  margin-bottom: 1rem;
}

.card-title .fa-btc {
  color: #f2a900;
  transform: rotate(-3deg);
}

.card-title .fa-ethereum {
  color: #3c3c3d;
}

.card-text {
  display: block;
  font-size: 18px;
  line-height: 32px;
  font-weight: 400;
  // letter-spacing: 0.25px;
}
