.scully-content-div {
  margin: 2rem;
}

h1 {
  font-size: 46px;
  line-height: 52px;
  font-weight: 900;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-top: 8.8rem;
}

.fa-btc{

    color: #f2a900;
    transform: rotate(
  -3deg);

}
.fa-ethereum{
  color: #3c3c3d;
  transform: rotate(
    -3deg);
}
h2{
  font-size: 34px;
  line-height: 44px;
  font-weight: 700;
}

.image-caption-text {
  font-size: 20px;
  font-style: italic;
  line-height: 32px;
  font-weight: 400;
  background-color: #80808014;
  padding: 1rem;
  padding-bottom: 1rem;
  margin-top: 2rem;

}
.greytext {
  color: #646060;
  // padding: 1rem;
  font-size: 22px;
  line-height: 36px;
  font-weight: 500;
  padding: 0.8rem 0;
}

p {
  font-size: 18px;
  line-height: 32px;
  font-weight: 400;
  // white-space: pre-line;
}

.cards-div{
  width: 80%;
}
.cards-list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap:15px;
  flex-wrap: wrap;
  padding: 2rem;
}

.img-post{
display: flex;
align-items: center;
justify-content: center;
padding: 1.2rem;
}
